<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HTML-onclick</title>

</head>
<body style="font-size:32px">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type=text/javascript>
    $(document).ready(function(){
        $.ajax({
            type:'GET',
            url:'index3.html',
            dataType:'text',
            success: function(data){
                print(data)
            },
            error:function(){
                print('다시 말씀해주세요');
            }
        })
    })
</script>


<div class='container'>
<h3>Test</h3>
    <form>
        <a href=# id=test><button class='btn btn-default'>Test</button></a>
    </form>
</div>
</body>
</html>